$primary: #4154f1;
$theme-colors: (
  "primary":    $primary,
  
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
);
:root {
    --bs-blue: #4154f1;
    --bs-primary: #4154f1;
    --bs-primary-rgb: #4154f1;
    --bs-bg-opacity: #4154f1;
}
.bg-primary {
    background-color: #4154f1;
}
.header .logo img {
    max-height: 49px;
}
.about h2.h1 {
    font-size: 2.5rem;
} 
.text-primary {
    color: #4154f1 !important;
} 
.p-new {
    font-size: 1rem !important;
} 
.btn-primary, .btn-primary:focus {
    background: #4154f1;
    // padding: 8px 20px;
    // margin-left: 30px;
    // border-radius: 4px;
    color: #fff;
  }
  .btn-primary:hover{
    color: #fff;
    background: #5969f3;
  }


.services .service-box {
    img {
        width: 150px;
        margin-bottom: 2rem;
    }
    &.primary-blue{
        border-bottom: 3px solid #4154f1;
        img {
            fill: #4154f1;
            filter: invert(27%) sepia(58%) saturate(2810%) hue-rotate(225deg) brightness(97%) contrast(96%);
        }
        &:hover {
            img {
            fill: #fff;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(335deg) brightness(102%) contrast(102%);
            }
        }
        &:hover {
            background: #4154f1;
        }
    }


    &.blue{
        img {
            fill: #2db6fa;
            filter: invert(76%) sepia(38%) saturate(7163%) hue-rotate(172deg) brightness(103%) contrast(96%);
        }
        &:hover {
            img {
            fill: #fff;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(335deg) brightness(102%) contrast(102%);
            }
        }
    }
    &.orange{
        img {
            fill: #f68c09;
            filter: invert(52%) sepia(99%) saturate(1763%) hue-rotate(2deg) brightness(106%) contrast(93%);
        }
        &:hover {
            img {
            fill: #fff;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(335deg) brightness(102%) contrast(102%);
            }
        }
    }
    &.green{
        img {
            fill: #08da4e;
            filter: invert(55%) sepia(85%) saturate(567%) hue-rotate(90deg) brightness(99%) contrast(95%);
        }
        &:hover {
            img {
            fill: #fff;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(335deg) brightness(102%) contrast(102%);
            }
        }
    }
    &.purple{
        img {
            fill: #b50edf;
            filter: invert(16%) sepia(80%) saturate(7171%) hue-rotate(286deg) brightness(97%) contrast(102%);
        }
        &:hover {
            img {
            fill: #fff;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(335deg) brightness(102%) contrast(102%);
            }
        }
    }
}
.btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  }
.btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
.btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
.btn-read-more:hover i {
    transform: translateX(5px);
  }
  .btn-read-more:hover span {
      color: #fff;
  }

span.change-banner-text::before {
    content: "Employees";
    animation: animate infinite 10s;
    // padding-left: 10px;
}

@keyframes animate {

    0%,100% {
        content: "Students";
    }

    25% {
        content: "Employees";
    }

    50% {
        content: "Clients";
    }

    75% {
        content: "Customers";
    }

    // 75% {
    //     content: "Students";
    // }
}
// Employees, Clients, Customers, Dealers, Students

.features .feture-tabs .nav-pills.rounded-pills {
    border: 0;
    .nav-link {
        text-transform: capitalize;
        font-size: 1.1rem;
        padding: 12px 20px;
        border-radius: 24px;
        margin-right: 15px;
        border: 1px solid #ecf3ff;
        background-color: #ecf3ff;
        &.active{
            color: #fff;
            border: 1px solid #4154f1;
            background-color: #4154f1;
        }
    }
}

.phone-sticky {
    // left: 14vw;
    left: 5vw;
    width: 208px;
    bottom: 5vh;
    height: 72px;
    padding: 16px ;
    z-index: 1201;
    position: fixed;
    box-shadow: 0px 0 30px #01297014;
    border-radius: 20px;
    background-color: white;
    .bi {
        // background-color: #4154f1;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        box-shadow: 1px 3px 6px 0px #0129703b;
        &::before {
            top: .5rem;
            // color: #fff;
            position: relative;
        }
    }
} 




h1, h2, h3, h4, h5 {
    color: #012970;
    font-family: "Nunito", sans-serif;
}
.swiper-button-next, .swiper-button-prev {
    color: #4154f1;
}
.swiper-pagination-bullet {
    width: .8rem;
    height: .8rem;
}

.swiper-pagination-bullet-active {
    background:#4154f1;
}


// Tabs
.nav-giftlist-tab .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #4154f1; 
    color: #fff;
}
 .nav-giftlist-tab .nav-link {
    color: #4154f1;
}
.nav-giftlist-tab .nav-pills .nav-link {
    text-align:  left;
    color: #012970;
}



.form-primary {
    background-color: #4154f1;
    border-radius: 8px;
    position: sticky;
}
.item-boxwrap {
    margin-bottom: 24px;
    .card {
        height: 100%;
    }
    .item-wrap {
        height: 250px;
        align-items: center;
        display: flex;
    }
}




.event-details {
    position:relative;
  }
  .event-details summary {
    display:block;
    cursor: pointer;
    color: #4154f1;
  }
  .event-details summary:focus {
    outline:none;
  }
  .event-details[open] {
    display:block;
    padding-bottom:25px;
    // padding-top:10px;
    animation: open .2s linear;
  }
  .event-details[open] summary {
    position:absolute;
    bottom: 0;
    left:0;
  }
  
  .event-details #open{padding-left:5px;text-align:middle;}
  .event-details #open:after{
      display: inline-block;
      position:relative;
      top: -3px;
      padding-left: 8px;
      content: "\00bb";
      transform: rotate(90deg);
  }
  .event-details[open] #open{display:none;}
  .event-details #close{display:none;}
  .event-details[open] #close{display:block;}
  
  ::-webkit-details-marker {display: none;}
  
  
  
  
  
  @keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }





// .swiper {
//     width: 100%;
//     height: 100%;
//   }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }